.aboutWrap{
    width: 95%; margin: 0 auto ;
    .mobile{
        display: none;
    }
    .introWrap{
        width: 110rem; margin: 3rem auto; border-radius: 1rem;
        padding: 2rem 0 1rem;
        h3{
            position: relative;
            padding-bottom: 2rem; text-align: center;
            font-size: 4rem; color: #222; 
            &::after{
                content: ''; position: absolute; left: 50%; transform: translateX(-50%);bottom: -2rem; width: 5rem; height: 2px; background: #777;
            }
        }
        & > div{
            padding: 0 2rem;
        }
        &Profile{
            .myInfo{
                padding: 5rem 0 0;
                display: flex; justify-content: space-around; align-items: top;
                div{
                    position: relative;
                    .profilePic{
                        width: 18rem; height: 18rem; border-radius: 50%;
                    }
                    ul{
                        li{
                            margin: 1.5rem 0; font-size: 1.8rem; color: #323232;
                            span{
                                display: inline-block; width: 10rem; margin-right: 1rem; font-size: 1.8rem; font-weight: bold; color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1300px) {
    .aboutWrap{
        .introWrap{
            width: 100%; margin: 6rem auto 4rem;
            &Right{
                display: flex; flex-direction: column; justify-content: center;
                .myGoal{
                    h2{
                        padding: 1.5rem 0; font-size: 2.5rem;
                    }
                    p{
                        font-size: 1.8rem; line-height: 3.5rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1200px) {
    .aboutWrap{
        .introWrap{
            &Left{
                img{
                    width: auto; height: 50rem; 
                }
            } 
            &Right{
                .myInfo{
                    h3{
                        padding-bottom: 1.5rem;
                        font-size: 2.5rem; line-height: 3.5rem;
                    }
                    div{
                        ul{
                            li{
                                margin: 1.5rem 0; font-size: 1.8rem; color: #323232;
                                span{
                                    margin-right: 1rem; font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
                .myGoal{
                    h2{
                        padding: 1.5rem 0; font-size: 2rem;
                    }
                    p{
                        font-size: 1.6rem; line-height: 3.5rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1080px) {
    .brick {display: block;}
    .aboutWrap{
        margin: 7rem auto 0;
        .mobile{
            display: block;
        }
        h1{
            font-size: 3.5rem; margin: 3rem 0;
        }
        .introWrap{
            display: block; margin: 0 0;
            &Left{
                width: 50rem; margin: 0 auto;
                img{
                    width: 100%; height: auto; 
                }
            }
            &Right{
                width: 50rem; margin: 0 auto;
                .myInfo{
                    h3{
                        padding: 2rem 0; 
                        text-align: center;
                    }
                    div{
                        display: flex; justify-content: center; border-bottom: 1px solid #e5e5e5;
                        ul{
                            li{
                                margin: 1.5rem 0; font-size: 1.8rem;
                                span{
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
                .myGoal{
                    text-align: center;
                    h2{
                        padding: 1.5rem 0; font-size: 2.5rem; line-height: 3.5rem;
                    }
                    p{
                        line-height: 3rem; font-size: 1.8rem;
                        .brick{
                            display: block;
                        }
                    }
                }
            }
        }
        .mySkill{
            .tech{
                h2{
                    padding: 2rem 0; font-size: 3.5rem;
                }
                p{
                    font-size: 1.8rem; line-height: 3.5rem;
                }
                ul{
                    li{
                        width: 5rem; height: 5rem;
                    }
                }
            }
        }
        .skills{
            padding-bottom: 5rem;
            h2{
                font-size: 3.5rem;
            }
            & > div{
                display: flex; flex-direction: column; align-items: center;
            }
            .skillbox{
                margin: 0 0 5rem 0; width: 45rem;
                p{
                    font-size: 1.8rem; line-height: 3.2rem;
                }
                li{
                    width: 5rem; height: 5rem;
                }
            }
        }    
    }
}

@media all and (max-width: 650px) {
    .aboutWrap{
        .introWrap{
            &Left{
                width: 100%; margin: 0;
            }
            &Right{
                width: 100%; margin: 0 0;
                .myInfo{
                    h3{
                        padding: 1.5rem 0;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 490px) {
    .aboutWrap{
        h1{
            font-size: 3rem; margin: 2rem 0;
        }
        .introWrap{
            &Right{
                .myInfo{
                    h3{
                        padding: 1rem 0;
                        font-size: 2rem; line-height: 3rem;
                    }
                    div{
                        ul{
                            li{
                                margin: 1.2rem 0; font-size: 1.6rem;
                                span{
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
                .myGoal{
                    text-align: center;
                    h2{
                        padding: 1rem 0; font-size: 2rem; line-height: 3rem;
                    }
                    p{
                        line-height: 2.6rem; font-size: 1.5rem;
                    }
                }
            }
        }
        .skills{
            padding-bottom: 3rem;
            h2{
                padding: 2rem 0rem 0rem; font-size: 3rem;
            }
            .skillbox{
                margin: 2rem 0 1rem; width: 36rem;
                p{
                    font-size: 1.5rem; line-height: 2.6rem;
                }
                li{
                    margin-right: 1rem;
                    width: 4rem; height: 4rem;
                }
                h3{
                    font-size: 2rem; margin-bottom: 1rem
                }
            }
        }   
    }
}

