body.dark{
    .itemWrap{
        background: #323232;
        &Inner{
            &Info{
                &Image{
                    & > div{
                        span{
                            color: #fff;
                        }
                    }
                }
                &Flex{
                    &Detail{
                        p{
                            color: #fff;
                        }
                        ul{
                            li{
                                color: #afafaf;
                            }
                        }
                    }
                    &Text{
                        h3{
                            color: #fff;
                        }
                        &How{
                            p{
                                color: #afafaf;
                            }
                        }
                        &Skill{
                            color: #afafaf;
                        }
                        &Color{
                            p{
                                color: #afafaf;
                            }
                            ul{
                                li{
                                    span{
                                        color: #afafaf;
                                    }
                                }
                            }
                        }
                        &Font{
                            p, span{
                                color: #afafaf;
                            }
                        }
                        &Link{
                            p{
                                color: #afafaf;
                            }
                            a{
                                color: #afafaf;
                                &:hover{
                                    background: #bceef8;; color: #000; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .buttons{
        button{
            color: #fff;
        }
    }
}

.itemWrap{
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #0006;
        border-radius: 16px;
        border: 4px solid transparent;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent
    }
    
    position: absolute; left: 0; top: 0rem; width: 100vw; height: 100vh !important; overflow-y: auto; 
    background: #f7f7f7; z-index: 9990; 
    &Inner{
        width: 100%; min-height: 100% !important; overflow-y: auto ;
        display: flex; justify-content: center; align-items: center; flex-direction: column;
        &Info{
            width: 65rem; margin: 10rem 0 0;
            &Image{
                margin-bottom: 3rem; text-align: center;
                & > div{
                    span{
                        margin-top: .5rem;
                        vertical-align: .3rem;
                        font-size: 2rem; font-weight: bold; color: #000;
                    }
                }
            }
            &Flex{
                display: flex; justify-content: space-between;
                &Detail{
                    p{
                        font-size: 1.8rem; color: #000; font-weight: bold;
                    }
                    ul{
                        li{
                            margin-top: 1rem;
                            font-size: 1.5rem; color: #555; font-weight: bold;
                        }
                    }
                }
                &Text{
                    h3{
                        font-size: 1.8rem; margin-bottom: 1rem; color: #000;
                    }
                    &How{
                        display: flex;
                        p{
                            margin-right: 1.5rem;
                            font-size: 1.5rem; font-weight: bold; color: #000; 
                        }
                    }
                    &Skill{
                        margin-top: .5rem;
                        display: flex; align-items: center;
                        font-size: 1.5rem; font-weight: bold; color: #000;
                        ul{
                            display: flex; font-size: 0;
                            li{
                                margin-left: 1rem;
                                &.icon{
                                    width: 3rem; height: 3rem;
                                }
                                &.html{
                                    background: url('@/assets/image/html5.png')no-repeat; background-size: cover ;
                                }
                                &.css{
                                    background: url('@/assets/image/css3.png')no-repeat; background-size: cover ;
                                }
                                &.js{
                                    background: url('@/assets/image/js.png')no-repeat; background-size: cover ;
                                }
                                &.ts{
                                    background: url('@/assets/image/ts.png')no-repeat; background-size: cover ;
                                }
                                &.vue{
                                    background: url('@/assets/image/vue.png')no-repeat; background-size: cover ;
                                }
                                &.react{
                                    background: url('@/assets/image/react.png')no-repeat; background-size: cover ;
                                }
                                &.sass{
                                    background: url('@/assets/image/sass.png')no-repeat; background-size: cover ;
                                }   
                                &.nuxt{
                                    background: url('@/assets/image/nuxt.png')no-repeat; background-size: cover ;
                                }  
                            }
                        }
                    }
                    &Color{
                        margin-top: 1rem;
                        display: flex; align-items: center;
                        p{
                            font-size: 1.5rem; color: #000; font-weight: bold;
                        }
                        ul{
                            font-size: 0; display: flex;
                            li{
                                margin-left: 1rem;
                                span{
                                    display: inline-block; vertical-align: middle;
                                    font-size: 1.5rem; color: #000; font-weight: bold;
                                    &.color{
                                        width: 2rem; height: 2rem; margin-right: 1rem; border-radius: .5rem;
                                        background: #000; font-size: 0;
                                    }
                                }
                            }
                        }
                    }
                    &Font{
                        margin-top: 1rem;
                        display: flex; align-items: center;
                        p , span{
                            font-size: 1.5rem; color: #000; font-weight: bold;
                        }
                        p{
                            margin-right: 1rem;
                        }
                    }
                    &Link{
                        margin-top: 1rem; font-size: 0;
                        p{
                            margin-right: 1rem; display: inline-block;
                            font-size: 1.5rem; color: #000; font-weight: bold;
                        }
                        a{
                            position: relative;
                            display: inline-block; border-radius: 1rem; font-family: 'ChosunSg';
                            font-size: 1.5rem; color: #000; text-align: center; transition: all .5s; font-weight: bold;
                            &:hover{
                                background: #bceef8;; color: #000; 
                            }
                            &:nth-of-type(2){
                                margin: 0 1rem;
                            }
                        }
                    }
                }
            }
            
        }
        &Image{
            width: 125rem; padding: 4rem 0 5rem;
            position: relative; 
            .pcShadow{
                position: relative; max-width: 100rem; width: 80%; margin: 0 auto; overflow-y: hidden;
                border: 10px solid #000; border-radius :3rem;
                padding: 20% 0;
                img{
                    position: absolute; left: 0; top: 0;
                    width: 100%; 
                    &.isHeight{
                        height: 100%;
                    }
                }
            }
            .mobileShadow{
                position: absolute; left: 1rem; bottom: 5rem; overflow-y: hidden;
                width: 24rem; padding: 17% 0; background: #fff;
                border: 10px solid #000; border-radius :3rem;
                img{
                    position: absolute; width: 100%; left: 0; top: 0;
                    &.isHeight{
                        height: 100%;
                    }
                }
            }
        }
    }
}
.buttons{
    position: fixed; top: 2rem; right: 5%;
    button{
        font-size: 4.5rem; background: none; color: #000;
        cursor: pointer;
    }
}

@media all and (max-width:1300px){
    .itemWrap{
        &Inner{
            &Image{
                width: 100%;
                .pcShadow{
                    border-radius: 2rem;
                    border: 5px solid #000; 
                }
                .mobileShadow{
                    width: 20%;
                    border-radius: 2rem;
                    border: 5px solid #000;
                }
            }
        }
    }
}


@media all and (max-width:900px){
    .itemWrap{
        &Inner{
            &Info{
                &Image{
                    width: 34rem; margin: 0 auto;
                    div{
                        margin-bottom: 1rem;
                    }
                }
                width: 100%; margin-top: 3rem;
                &Flex{
                    flex-direction: column; align-items: center;
                    &Detail{
                        width: 34rem; margin: 2rem auto 0;
                    }
                    &Text{
                        width: 34rem; margin: 0 auto;
                    }
                }
            }
            &Image{
                padding: 3rem 0;
                .mobileShadow{
                    bottom: 3rem;
                }
            }
        }
    }
    .buttons{
        button{
            font-size: 4rem;
        }
    }
}

@media all and (max-width:500px){
    .itemWrap{
        &Inner{
            height: 125vh;
            &Info{
                margin-top: 0;
                &Flex{
                    &Detail{
                        padding-left: 1rem; box-sizing: border-box;
                    }
                    &Text{
                        padding-left: 1rem; box-sizing: border-box;
                    }
                }
            }
            &Image{
                .pcShadow{
                    border-radius: 1.5rem;
                    padding: 25% 0;
                }
                .mobileShadow{
                    border-radius: 1.5rem;
                }
            }
        }
    }
}