.waveWrap{
    position: absolute; left: 0; right: 0; bottom: 0; width: 100%; z-index: 5;
    @-webkit-keyframes move{
        from{-webkit-mask-position:0 top;mask-position:0 top}
        to{-webkit-mask-position:-150rem top;mask-position:-150rem top}
    }
    @keyframes move{
        from{-webkit-mask-position:0 top;mask-position:0 top}
        to{-webkit-mask-position:-150rem top;mask-position:-150rem top}
    }
    .wave{
        height: 6rem;
        -webkit-mask-image: url('@/assets/image/wave_mask.svg'); -webkit-mask-size: 150rem auto; -webkit-mask-position: left top; -webkit-mask-repeat: repeat-x;
        mask-image: url('@/assets/image/wave_mask.svg'); mask-size: 150rem auto; mask-position: left top; mask-repeat: repeat-x;
        animation: move 10s linear infinite; -webkit-animation: move 10s linear infinite;
    }
    .wave-bg{
        background: #bceef8;
    }
    .waveInnerWrap{
        text-align: center; background: #bceef8;
        & > div{
            height: 8rem;
            h2{
                font-size: 2rem; color: #000;
            }
            a{
                img{
                    margin-top: .5rem;
                    width: 4rem; height: 4rem;
                }
            }
        }
    }
}

@media all and (max-width: 1080px) {
    .waveWrap{
        .wave{
            height: 3rem;
        }
        .waveInnerWrap{
            & > div{
                h2{
                    padding-top: 1rem;
                    font-size: 1.8rem;
                }
                a{
                    img{
                        margin-top: 1rem;
                        width: 3rem; height: 3rem;
                    }
                }
            }
        }
        .wave{-webkit-mask-size: 50rem auto;}
    }
}