body.dark{
    .loadingWrap{
        background: #222;
        .lds-facebook{
            div{
                background: #e0e0e0;
            }
        }
    }
}

.loadingWrap{
    position: absolute; left: 0; top: 0; z-index: 9999; 
    width: 100vw; min-height: 100vh;
    background: #fff; 
    .lds-facebook{
        position: fixed; top: 50%; left: 51%; z-index: 9999;
        width: 64px; height: 64px;
        display: inline-block;
        transform: translate(-50% , -50%);
        div{
            position: absolute; 
            display: inline-block;
            width: 6px; height: 13px;
            background: rgb(135, 216, 247);
            animation: lds-facebook 1.2s cubic-bezier(0, .5 , .5 ,1) infinite;
            &:nth-child(1){
                left: 6px;
                animation-delay: -0.24s;
            }
            &:nth-child(2){
                left: 26px;
                animation-delay: -0.12s;
            }
            &:nth-child(3){
                left: 45px;
                animation-delay: 0;
            }
        }
    }
}
@keyframes lds-facebook{
    0%{
        top: 6px;
        height: 61px;
        background: rgb(21, 54, 111);
    }
    50%, 100%{
        top: 19px;
        height: 36px;
    }
}