body.dark{
    p{
        color: #aeaeae;
        span{
            color: #e0e0e0;
        }
    }
    .infoLink{
        a{
            color: #e0e0e0;
        }
        button{
            color: #e0e0e0;
        }
    }
    .infoDesc{
        p{
            color: #e0e0e0;
        }
    }
    
    .infoThird{
        h2{
            color: #e0e0e0;
        }
    }
}

p{
    font-size: 1.8rem; color: #8d8d8d;
    span{
        color: #222;
    }
}

.infoDesc{
    margin-bottom: 1.5rem;
    text-align: center;
    p{
        margin-top: 1.5rem;
        color: #222; 
    }
}

.infoLink{
    margin: 1.5rem 0 1rem; 
    display: flex; justify-content: center;
    div{
        display: flex; align-items: center;
        margin: 0 1.5rem;
        img{
            margin-right: 1rem;
            width: 3rem; 
        }
        button{
            background: none; 
            color: #222;
            cursor: pointer; 
        }
        a, button{
            position: relative;
            font-size: 1.8rem;
            &::after{
                content: ''; 
                position: absolute; bottom: 0; left: 50%; 
                width: 0; height: 1rem; 
                background: rgba(188, 238, 248 , .3);
                transition: all .5s;
            }
            &.on{
                &::after{
                    left: 0; width: 100%;
                }
            }
            &:hover{
                &::after{
                    left: 0; width: 100%;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.infoFirst{
    position: relative;
    &::after{
        content: '';
        position: absolute; left: 50%; top: 0;
        width: 70%; height: 1px; 
        background: #ddd; 
        transform: translateX(-50%);
    }
    padding-top: 1.5rem;
    display: flex; justify-content: center;
    p{
        &:nth-child(2){
            margin: 0 2rem;
        }
    }
}
.infoSecond{
    margin-top: 1.5rem; text-align: center;
}

.infoThird{
    margin-top: 1.5rem; text-align: center;
    h2{
        font-size: 1.8rem; font-weight: normal; color: #222;
    }
}

ul{
    margin-top: 1rem;
    display: flex; justify-content: center;
    .html{
        background: url('@/assets/image/html5.png')no-repeat center center; background-size: 80% ; 
    }
    .css{
        background: url('@/assets/image/css3.png')no-repeat center center; background-size: 80%
    }
    .scss{
        background: url('@/assets/image/sass.png')no-repeat center center; background-size: 80%
    }
    .js{
        background: url('@/assets/image/js.png')no-repeat center center; background-size: 80%
    }
    .ts{
        background: url('@/assets/image/ts.png')no-repeat center center; background-size: 80%
    }
    .react{
        background: url('@/assets/image/react.png')no-repeat center center; background-size: 80%
    }
    .vue{
        background: url('@/assets/image/vue.png')no-repeat center center; background-size: 80%
    }
    li{
        margin: 0 .5rem;
        width: 4rem; height: 4rem; 
        border-radius: 50%;
    }
}

@media all and (max-width:490px){
    p{
        font-size: 1.6rem;
    }
    .infoLink{
        margin: 1rem 0; 
        div{
            margin: 0 1rem;
            img{
                margin-right: .5rem;
                width: 2.5rem; 
            }
            a, button{
                font-size: 1.6rem;
            }
        }
    }
    .infoSecond{
        p{
            font-size: 1.6rem;
        }
    }
    .infoFirst{
        &::after{
            width: 80%; 
        }
        padding-top: 1.5rem;
        p{
            &:nth-child(2){
                margin: 0 .5rem;
            }
        }
    }
    .infoThird{
        margin-top: 1.5rem; 
        h2{
            font-size: 1.6rem;
        }
    }
    ul{
        li{
            margin: 0 .5rem;
            width: 3.5rem; height: 3.5rem;
        }
    }
}