body.dark{
    h2{
        color: #e0e0e0;
        &::after{
            background: #c9c9c9;
        }
    }
    .techWrap{
        background: #323232;
        & > div{
            h3{
                color: #e0e0e0;
            }
            p{
                color: #e0e0e0;
            }
        }
    }
}

h2{
    position: relative;
    font-size: 4rem; font-weight: normal; color: #222;
    text-align: center;
    &::after{
        content: ''; 
        position: absolute; left: 50%; bottom: -2rem; 
        width: 5rem; height: 2px; 
        background: #777;
        transform: translateX(-50%);
    }
}

.allTechWrap{
    margin: 0 auto;
}

.techWrap{
    margin: 3rem auto; 
    display: flex; justify-content: space-between;
    width: 100rem;
    background: #fff; 
    border-radius: 1rem;
    & > div{
        padding: 0 2rem; 
        width: 50rem;
        text-align: center;
        h3{
            padding: 2rem 0;
            font-size: 2.5rem; font-weight: normal; color: #000; 
        }
        p{
            padding: 1.5rem 0 2rem;
            font-size: 1.8rem; line-height: 3.2rem; color: #000;
        }
    }
    ul{
        display: flex; justify-content: center;
        .html{
            background: url('@/assets/image/html5.png')no-repeat center center; background-size: 80% ; 
        }
        .css{
            background: url('@/assets/image/css3.png')no-repeat center center; background-size: 80%
        }
        .photo{
            background: url('@/assets/image/photoshop.png')no-repeat center center; background-size: 80%
        }
        .figma{
            background: url('@/assets/image/figma.png')no-repeat center center; background-size: 80%
        }
        .react{
            background: url('@/assets/image/react.png')no-repeat center center; background-size: 80%
        }
        .vue{
            background: url('@/assets/image/vue.png')no-repeat center center; background-size: 80%
        }
        .git{
            background: url('@/assets/image/github.png')no-repeat center center; background-size: 80% 
        }
        .vsc{
            background: url('@/assets/image/vsc.png')no-repeat center center; background-size: 80% 
        }
        li{
            margin: 0 1rem;
            width: 7rem; height: 7rem; 
            border: 1px solid #ddd; border-radius: 1rem;
        }
    }
}

@media all and (max-width: 1050px) {
    .techWrap{
        width: 100%;
    }
}


@media all and (max-width: 960px) {
    .allTechWrap{
        height: 50rem;
        padding: 0rem 0 1rem;
    }
    h2{
        font-size: 3.5rem;
    }
    .techWrap{
        flex-direction: column; align-items: center;
        & > div{
            padding: 0;
            width: 100%; 
            h3{
                font-size: 2.2rem;
            }
            p{
                line-height: 3rem;
                font-size: 1.6rem; 
            }
        }
        ul{
            li{
                margin: 0 .5rem;
                width: 6rem; height: 6rem; 
            }
        }
    }
}

@media all and (max-width: 760px) {
    .allTechWrap{
        padding: 8rem 0 0; 
        margin: 0 auto 3rem;
        min-height: 70rem;
    }
    h2{
        font-size: 3rem;
    }
    .techWrap{
        margin: 2rem auto;
        flex-direction: column; align-items: center;
        & > div{
            h3{
                font-size: 2rem;
            }
            p{
                padding-bottom: 0;
                line-height: 2.8rem;
                font-size: 1.5rem; 
            }
        }
    }
}
