body.dark{
    .projects{
        &Title{
            color: #e0e0e0;
            h2{
                &::after{
                    background: #e0e0e0;
                }
            }
        }
    }
}

.projects{
    margin: 0 auto; 
    display: flex; flex-direction: column; justify-content: center; 
    min-height: calc(100vh - 22rem);
    &Title{
        color: #222;
        text-align: center; 
        h2{
            position: relative; 
            font-size: 4rem; font-weight: normal;
            &::after{
                content: ''; 
                position: absolute; left: 50%; bottom: -2rem;  
                width: 5rem; height: 2px; 
                background: #222;
                transform: translateX(-50%);
            }
        }
    }
}

@media all and (max-width:1080px){
    .projects{
        min-height: calc(100vh - 20rem);
        &Title{
            h2{
                font-size: 3.5rem;
            }
        }
    }
}

@media all and (max-width:760px){
    .projects{
        &Title{
            h2{
                font-size: 3rem;
            }
        }
    }
}