body.dark{
    ul{
        li{
            span{
                color: #e0e0e0;
            }
            button{
                color: #e0e0e0;
                &.disable{
                    color: #9c9c9c;
                }
            }
        }
    }
}


ul{
    display: flex; align-items: center; justify-content: center;
    text-align: center; 
    li{
        span{
            font-size: 1.8rem; font-weight: bold; color: #222; 
        }
        button{
            padding: 0 1rem;
            display: block; 
            background: none; 
            font-size: 2.5rem; color: #222;
            cursor: pointer;
            &.disable{
                color: #c2c2c2;
                cursor: pointer;
            }
        }
    }
}

@media all and (max-width:650px){
    ul{
        li{
            span{
                font-size: 1.6rem;
            }
            button{
                padding: 0 .8rem;
                font-size: 2.2rem;
            }
        }
    }
}