body.dark{
    ul{
        border-top: 1px solid #e0e0e0;
        li{
            border-bottom: 1px solid #e0e0e0;
            .listWrap{
                &:hover{
                    .indexWrap{
                        span{
                            color: #323232;
                        }
                        h3{
                            color: #323232;
                        }
                    }
                    .classWrap{
                        span{
                            color: #323232;
                        }
                    }
                }
                .indexWrap{
                    span{
                        color: #e0e0e0;
                    }
                    h3{
                        color: #e0e0e0;
                    }
                }
                .classWrap{
                    span{
                        color: #e0e0e0;
                    }
                }
            }
        }
    }
}

ul{
    margin: 3rem auto 3rem; 
    width: 50%; 
    border-top: 1px solid #222;
    li{
        height: 7rem; 
        border-bottom: 1px solid #222;
        .listWrap{
            display: flex; align-items: center; justify-content: space-between;
            height: 100%;  
            cursor: pointer;
            &:hover, &:focus{
                background: #f1f1f1;
                .indexWrap{
                    transform: translateX(1.5rem);
                }
                .classWrap{
                    transform: translateX(-1.5rem);
                }
            }
            .indexWrap{
                display: flex;
                transition: all .3s;
                span{
                    display: block; 
                    width: 6rem; 
                    font-size: 1.8rem; font-weight: bold; 
                    text-align: center;
                }
                h3{
                    font-size: 2rem;
                }
            }
            .classWrap{
                position: relative;
                transition: all .3s; 
                span{
                    position: relative; 
                    display: inline-block;
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                    &::after{
                        content: ','; 
                        position: absolute; right: 0; top: 0; 
                        font-size: 1.6rem;
                    }
                    padding: 0 .5rem;
                    font-size: 1.6rem; 
                    font-weight: bold; color: #222;
                }
            }
        }
    }
}

@media all and (max-width:1300px){
    ul{
        width: 70%;
    }
}
@media all and (max-width:1080px){
    ul{
        margin: 2rem auto 2rem;
        li{
            height: 6rem;
            .listWrap{
                .indexWrap{
                    span{
                        width: 3rem; 
                        font-size: 1.5rem;
                    }
                    h3{
                        font-size: 1.5rem;
                    }
                }
                .classWrap{
                    span{
                        padding: 0 .3rem;
                        font-size: 1.4rem;
                        &::after{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:760px){
    ul{
        width: 90%;
    }
}

@media all and (max-width:500px){
    ul{
        li{
            .listWrap{
                .classWrap{
                    span{
                        font-size: 1.2rem;
                        &::after{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}