.projectsWrap{
    position: absolute; left: 0; top: 0rem; width: 100vw; height: 100vh; overflow-y: auto;
    background: #fff; z-index: 9998; 
    & > div{
        width: 100%; height: 100%; 
        display: flex; justify-content: center; align-items: center;
        .projectsInfoWrap{
            display: flex; align-items: center; justify-content: space-around;
            & > div:nth-child(2){
                h3{
                    font-size: 2rem; color: #000;
                }
                & > div{
                    display: flex; margin-top: 1rem; align-items: center;
                    p{
                        margin-left: 1rem;
                        &:nth-child(1){
                            margin-left: 0;
                        }
                        font-size: 1.6rem; color: #000; font-weight: bold;
                    }
                    span{
                        font-size: 1.6rem; font-weight: bold; color: #000;
                    }
                    h4{
                        font-size: 1.6rem; color: #000;
                    }
                    ul{
                        display: flex; font-size: 0;
                        li{
                            margin-left: 1rem;
                            &.icon{
                                width: 3rem; height: 3rem;
                            }
                            &.html{
                                background: url('@/assets/image/html5.png')no-repeat; background-size: cover ;
                            }
                            &.css{
                                background: url('@/assets/image/css3.png')no-repeat; background-size: cover ;
                            }
                            &.js{
                                background: url('@/assets/image/js.png')no-repeat; background-size: cover ;
                            }
                            &.vue{
                                background: url('@/assets/image/vue.png')no-repeat; background-size: cover ;
                            }
                            &.react{
                                background: url('@/assets/image/react.png')no-repeat; background-size: cover ;
                            }
                            &.sass{
                                background: url('@/assets/image/sass.png')no-repeat; background-size: cover ;
                            }   
                        }
                    }
                }
            }
        }
        // .projectInfoWrapEtc{
        //     align-items: flex-start !important;
        //     &Color{
        //         & > div{
        //             display: flex;
        //         }
        //         &Wrap{
        //             .colorBlock{
        //                 width: 12rem;  border: 1px solid #000; border-radius: .5rem;
        //                 margin-right: 1rem;
        //                 &Color{
        //                     height: 7rem; background: #000; 
        //                 }
        //                 &Info{
        //                     padding: .5rem;
        //                     p{
        //                         padding-bottom: .5rem;
        //                         font-size: 1.4rem 
        //                     }
        //                     span{
        //                         font-size: 1.4rem !important;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
    
}