.contactForm{
    width: 100rem; margin: 5rem auto 8rem;
    display: flex; align-items: center; justify-content: center;
    form{
        width: 50rem;
        div{
            width: 100%;
            input{
                width: 100%; height: 5rem; border-bottom: 2px solid #000; font-size: 1.5rem; text-indent: 1rem; font-family: 'ChosunSg';
                font-size: 1.5rem; font-weight: bold; color: #000; 
                &::placeholder{
                    color: #000;
                }
                outline: none;
            }
        }
        .inputContentWrap{
            width: 100%;
            textarea{
                margin-top: 2rem;
                padding: 2rem 0; width: 100%; height:15rem; 
                resize: none; 
                border: 2px solid #000;  
                text-indent: 1rem; box-sizing: border-box; 
                font-size: 1.5rem; font-weight: bold; color: #000;
                outline: none;
                &::placeholder{
                    color: #000;
                }
            }
        }
        button{
            display: block; margin: 2rem auto 0; 
            width: 100%; height: 5rem;
            background: #000; 
            font-size: 1.6rem;  color: #fff; font-family: 'ChosunSg'; 
            cursor: pointer; transition: all .5s; 
        }
    }
}


@media all and (max-width: 1080px) {
    .contactForm{
        width: 70rem;
        form{
            div{
                margin: 1.5rem 2%;
                label{
                    margin-bottom: 1.5rem;
                    font-size: 1.8rem; font-weight: bold; color: #000;
                }
            }
            button{
                margin: 2.5rem 2%;
            }
        }
    }
}

@media all and (max-width: 750px) {
    .contactForm{
        width: 90%; margin: 5rem auto;
        form{
            div{
                width: 100%; box-sizing: border-box; margin: 1.5rem 0;
                label{
                    font-size: 1.6rem; margin-bottom: 1.5rem;
                }
                input{
                    width: 100%; height: 4rem;
                }
            }
            .inputContentWrap{
                width: 100%;
                textarea{
                    height:12rem; 
                }
            }
            button{
               width: 100%; font-size: 1.6rem; height: 5rem;
               margin: 2rem 0;
            }
        }
    }
}
