body.dark{
    .contact{
        h1{
            color: #e0e0e0;
            &::after{
                background: #e0e0e0;
            }
        }
    }
}

.contact{
    margin: 3rem auto;
    h1{
        position: relative;
        font-size: 4.5rem; font-weight: normal; color: #222; 
        text-align: center; 
        &::after{
            content: ''; 
            position: absolute; left: 50%; bottom: -2rem; 
            transform: translateX(-50%); 
            width: 5rem; height: 2px; 
            background: #222;
        }
    }
}

@media all and (max-width: 1080px) {
    .contact{
        h1{
            font-size: 3.5rem;
        }
    }
}

@media all and (max-width: 760px) {
    .contact{
        padding: 0; 
        h1{
            font-size: 3rem;
        }
    }
}
