body.dark{
    .visualWrap{
        //  background: linear-gradient(
        // 135deg, 
        // #45e7ff 0%,#45e7ff 17%,
        // #423ee7 33%,
        // #8848df 50%,
        // #fbaeae 67%,
        // #f9fbae 83%,
        // #72f382 100%);    
        .wholeBtn{
            span{
                &.active{
                    &::after , &::before{
                        background: #fff;
                    }
                }
            }
        }
        nav{
            background: #323232;
            a{
                span{
                    color: #fff;
                    &::after{
                        background: #fff;
                    }
                }
            }
        }
    }
}



@keyframes animationName{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes scroll{
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes stick{
    0%{ height: 0; opacity:0;}
	15%{ height: 0; opacity:0;}
	40%{height: 4rem; opacity:1;}
	70%{height: 4rem; opacity:1;}
	100%{height: 4rem; opacity:0;}
}


.visualWrap{
    position: relative; z-index: 10;
    border: 2rem solid #fff; box-sizing: border-box;
    width: 100%; margin: 0 auto; min-height: calc(var(--vh, 1vh) * 100);
    // background: linear-gradient(
    //     135deg, 
    //     #F9EFE7 0%,#F9EFE7 17%,
    //     #fff1ad 33%,
    //     #D7E0FF 50%,
    //     #FADEE0 67%,
    //     #b4beff 83%,
    //     #d3d8fa 100%);
    background: linear-gradient(
        135deg, 
        #bbf9fd 0%,#bbf9fd 17%,
        #FFF3E2 33%,
        #D7E9B9 50%,
        #fff2b9 67%,
        #FEBE8C 83%,
        #FF9F9F 100%);    
    background-size: 1000% 1000%;
    animation: animationName 35s ease infinite;
    .wholeBtn{
        position: absolute; top: 2rem; right: 3rem; z-index: 9998; text-align: center; padding: 1.5rem 0;
        span{
            position: relative;
            display: inline-block; width: 4rem; height: .2rem; background: #222; transition: all .5s;
            &::before{
                content: ''; position: absolute; top: -1.1rem; left: 0; width: 100%; height: .2rem; background: #222; transition: all .5s;
            }
            &::after{
                content: ''; position: absolute; top: 1.1rem; left: 0; width: 100%; height: .2rem; background: #222; transition: all .5s;
            }
            &.active{
                background: transparent;
                &::after{
                    top: 0; transform: rotate(45deg); background: #222;
                }
                &::before{
                    top: 0; transform: rotate(-45deg); background: #222;
                }
            }
        }
    }
    nav{
        &.showing{
            left: 0; visibility: visible;
        }
        position: absolute;  left: -100vw;  top: 0; width: 100%; z-index: 4000; min-height: calc(var(--vh, 1vh) * 100 - 4rem); background: #fff;
        visibility: hidden;
        transition: all .5s;
        ul{
            position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50% , -50%);
            li{
                &.active{
                    a{
                        span::after{
                            width: 100%; right: 0%;
                        }
                    }
                }
                a{
                    display: block; padding: 0 1.5rem; text-align: center;
                    &:hover{
                        span::after{
                            width: 100%; right: 0%;
                        }
                    }
                    span{
                        position: relative; 
                        font-size: 1.8rem; font-weight: bold; line-height: 7rem; 
                        &::after{
                            content: ''; position: absolute; bottom: -.7rem; right: 50%; width: 0%; height: 0.1rem; background: #000; transition: all .5s;
                        }
                    }
                }
            }
        }
    }
    .intro{
        position: absolute; top: 50%; transform: translateY(-50%); left: 1rem;
    }
    .mobile{
        display: none;
    }
    .scroll{
        position: absolute; bottom: 6rem; left: 50%; transform: translateX(-50%);
        p{
            font-size: 1.6rem; color: #222; font-weight: bold;
            position: relative;
            animation: scroll 3s ease infinite;
        }
        &::after{
            content: ''; position: absolute; top: 2rem; left: 50%; transform: translateX(-50%);
            width: 1px; height: 4rem; background: #222;
            animation: stick 3s ease infinite;
        }
    }
}

@media all and (max-width:1320px){
    .visualWrap{
        .intro{
            width: 80%;
        }
        .window{
            display: none;
        }
        .mobile{
            display: block;
        }
    }
}

@media all and (max-width:730px){
    .visualWrap{
        .intro{
            width: 95%;
        }
        .wholeBtn{
            top: 2rem; right: 2rem;
            span{
                width: 3rem;
            }
        }
    }
}

@media all and (max-width:600px){
    .visualWrap{
        border: 1.5rem solid #fff;
        nav{
            min-height: calc(var(--vh, 1vh) * 100 - 3rem);
        }
    }
}